html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  background-color: $color-black;
}

body {
  background-color: $color-white;
}

button,
input,
textarea {

  &:active,
  &:focus {
    outline-color: transparent;
    outline-offset: 0;
    outline-width: 0;
  }
}

.podlove {
  background-image: url('../images/podlove-powered-by.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: $layout-unit * 2 auto;
  width: 200px;
  height: 60px;
}
