@font-face {
  font-family: 'Podlove';
  src: url('../fonts/podlove/Podlove.eot');
  src: url('../fonts/podlove/Podlove.eot?#iefix') format('embedded-opentype'),
       url('../fonts/podlove/Podlove.woff') format('woff'),
       url('../fonts/podlove/Podlove.ttf') format('truetype'),
       url('../fonts/podlove/Podlove.svg#podlove') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sourcesans';
  src: url('../fonts/sourcesans_regular/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesans_regular/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesans_regular/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../fonts/sourcesans_regular/sourcesanspro-regular-webfont.woff') format('woff'),
       url('../fonts/sourcesans_regular/sourcesanspro-regular-webfont.ttf') format('truetype'),
       url('../fonts/sourcesans_regular/sourcesanspro-regular-webfont.svg#robotolight') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sourcesans';
  src: url('../fonts/sourcesans_bold/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/sourcesans_bold/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesans_bold/sourcesanspro-bold-webfont.woff2') format('woff2'),
       url('../fonts/sourcesans_bold/sourcesanspro-bold-webfont.woff') format('woff'),
       url('../fonts/sourcesans_bold/sourcesanspro-bold-webfont.ttf') format('truetype'),
       url('../fonts/sourcesans_bold/sourcesanspro-bold-webfont.svg#robotomedium') format('svg');
  font-weight: 700;
  font-style: normal;
}
