// Ratio and base variables
$ratio: 1.2;
$base: 1;
$base-em: $base * 1em;
$base-px: $base * 16px;

// Scale step variables
// Type scaling after http://type-scale.com/ with golden ratio
$ms0: 1;
$ms1: $ratio; /* 1.2 */
$ms2: $ratio * $ms1; /* 1.44 */
$ms3: $ratio * $ms2; /* 1.728 */
$ms4: $ratio * $ms3; /* 2.074 */
$ms5: $ratio * $ms4; /* 2.488 */
$ms6: $ratio * $ms5; /* 2.986 */
$ms7: $ratio * $ms6; /* 3.583 */
$ms8: $ratio * $ms7; /* 4.2996 */
$ms9: $ratio * $ms8; /* 5.15952 */

// Font- Styles Reset
body {
  color: $color-gray;
  font-family: 'Sourcesans', sans-serif;
  font-size: $base-em * $ms0;
  font-weight: 400;
  line-height: $base * $ms2;

  @media (min-width: $mq-s) {
    font-size: $base-px * $ms1;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:active,
  &:hover {
    color: $color-main;
  }
}

// Utility

.typo-bold {
  color: $color-black;
  font-weight: 700;
}

.typo-light {
  font-weight: 400;
}

.typo-small {
  font-size: $base-em * 0.875;
}

.typo-smaller {
  font-size: $base-em * 0.65;
}

// Headlines

.headline {
  color: $color-black;
  font-weight: 700;
}

.headline--5 {
  font-size: $base-em * $ms1;

  @media (min-width: $mq-m) {
    font-size: $base-em * $ms2;
  }

  @media (min-width: $mq-l) {
    font-size: $base-em * $ms3;
  }
}

.headline--4 {
  font-size: $base-em * $ms1;
  text-align: center;

  @media (min-width: $mq-s) {
    font-size: $base-em * $ms2;
  }

  @media (min-width: $mq-m) {
    font-size: $base-em * $ms3;
  }

  @media (min-width: $mq-l) {
    font-size: $base-em * $ms4;
  }
}

.headline--3 {
  font-size: $base-em * $ms2;

  @media (min-width: $mq-s) {
    font-size: $base-em * $ms3;
  }

  @media (min-width: $mq-m) {
    font-size: $base-em * $ms4;
  }

  @media (min-width: $mq-l) {
    font-size: $base-em * $ms5;
  }
}

.headline--2 {
  font-size: $base-em * $ms3;
  text-align: center;

  margin-bottom: $layout-unit * 2;

  @media (min-width: $mq-s) {
    font-size: $base-em * $ms4;
  }

  @media (min-width: $mq-m) {
    font-size: $base-em * $ms5;
  }

  @media (min-width: $mq-l) {
    font-size: $base-em * $ms6;
  }
}

.headline--1 {
  font-size: $base-em * $ms4;

  @media (min-width: $mq-s) {
    font-size: $base-em * $ms5;
  }

  @media (min-width: $mq-m) {
    font-size: $base-em * $ms6;
  }

  @media (min-width: $mq-l) {
    font-size: $base-em * $ms7;
  }
}
