// Media Queries
$mq-xs: 480px;
$mq-s: 760px;
$mq-m: 960px;
$mq-l: 1200px;

// Animations
$podlove-easing: cubic-bezier(0.62, 0.28, 0.23, 0.99);

// Colors
$color-white: #FFFFFF;
$color-black: #373737;
$color-gray: #808080;
$color-main: #469cd1;
$color-main-alt: #de6262;
$color-podlove-green: #328C2D;
$color-podlove-yellow: #FBCC58;
$color-podlove-orange: #C16725;
$color-podlove-red: #683E37;
$color-podlove-violet: #887DB3;
$color-podlove-blue: #1C5558;

// Layout
$layout-unit: 20px;
