.benefits {
  margin: 0 auto;
  padding: ($layout-unit) $layout-unit $layout-unit $layout-unit;
  max-width: 1200px;

  @media screen and (min-width: $mq-s) {
    padding: ($layout-unit * 4) $layout-unit $layout-unit $layout-unit;
  }
}

.benefits__headline {
  line-height: 1.1em;

  margin-bottom: $layout-unit / 2;
}

.benefits__list {
  @extend %grid;
}

.benefits__list__item {
  @extend %grid__item;
  @extend %s--one-third;
  @extend %m--one-third;
  @extend %l--one-third;

  margin-top: $layout-unit * 2;

  @media screen and (min-width: $mq-s) {
    margin-top: 0;
  }
}
