.benefits {
  margin: 0 auto;
  padding-top: $layout-unit * 4;
  max-width: 900px;
}

.benefits__headline {
  margin-bottom: $layout-unit / 2;
}

.benefits__list {
  @extend %grid;
}

.benefits__list__item {
  @extend %grid__item;
  @extend %s--one-third;
  @extend %m--one-third;
  @extend %l--one-third;
}