.btn {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;
  border: 3px solid $color-black;
  cursor: pointer;
  padding: 0.6em 1.1em 0.6em;

  transition: opacity 0.35s $podlove-easing;

  &:active,
  &:hover {
    color: $color-black;

    opacity: 0.65;
  }
}

.btn--light {
  color: $color-white;

  border-color: $color-white;

  &:active,
  &:hover {
    color: $color-white;
  }
}

.btn--red {
  color: $color-main-alt;

  border-color: $color-main-alt;

  &:active,
  &:hover {
    color: $color-main-alt;
  }
}
