.cta {
  background-color: $color-main-alt;
  padding: ($layout-unit * 3) ($layout-unit / 2);

  @media screen and (min-width: $mq-xs) {
    padding: $layout-unit * 3;
  }
}

.cta__btn {
  display: inline-block;
}

.cta__copy {
  color: $color-white;
}

.cta__headline {
  color: $color-white;
}

.cta__wrapper {
  text-align: center;

  margin: 0 auto;
  max-width: 900px;
}
