.features {
  margin: 0 auto;
  padding: $layout-unit * 2;
  max-width: 1000px;

  @media screen and (min-width: $mq-s) {
    padding: ($layout-unit * 4) $layout-unit $layout-unit $layout-unit;
  }
}

.features__list {
  @extend %grid;

  @media screen and (min-width: $mq-s) {
    margin-bottom: $layout-unit * 4;
  }
}

.features__list__item {
  @extend %grid__item;
  @extend %s--one-half;
  @extend %m--one-half;
  @extend %l--one-half;

  margin-bottom: $layout-unit * 2;
}

.features__figure__image {
  @include box-shadow(2);

  margin-bottom: $layout-unit / 2;
  width: 100%;
}
