.generator {
  margin: 0 auto;
  padding-top: $layout-unit * 5;
  overflow-y: scroll;
  max-height: 100%;
}

.generator__btn {
  margin: $layout-unit auto 0 auto;
}

.generator__creation {
  padding: 0 $layout-unit ($layout-unit * 2) $layout-unit;

  @media screen and (min-width: $mq-s) {
    padding: 0 ($layout-unit * 2) ($layout-unit * 3) ($layout-unit * 2);
  }
}

.generator__form {
  padding: 0 $layout-unit ($layout-unit * 2) $layout-unit;

  @media screen and (min-width: $mq-s) {
    padding: 0 ($layout-unit * 2) ($layout-unit * 3) ($layout-unit * 2);
  }
}

.generator__form__divider {
  color: $color-black;
  font-weight: 900;

  padding-top: $layout-unit * 2;
}

.generator__form__feed {
  padding-bottom: $layout-unit;
}

.generator__form__select {
  display: inline-block;
  margin-right: $layout-unit;
  margin-bottom: $layout-unit;
  width: $layout-unit * 5;
}

.generator__form__submit-container {
  padding-top: $layout-unit * 2;
}

.generator__header {
  @include box-shadow(1);

  color: $color-black;
  font-weight: 900;
  text-align: center;

  background-color: $color-white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: $layout-unit ($layout-unit * 2);
  z-index: 1;
}

.generator__info {
  @extend %grid__item;

  text-align: center;

  margin: ($layout-unit * 2) 0 0 0;
}

.generator__result {
  font-family: monospace;
}
