.hero {
  text-align: center;

  background-color: $color-main;
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 100%;
  background-size: cover;
  position: relative;
}

.hero__btn {
  display: inline-block;
  margin-top: $layout-unit * 1.5;
}

.hero__content {
  @extend %grid;

  margin: 0 auto;
  padding: ($layout-unit * 2) ($layout-unit * 2) ($layout-unit * 2) 0 ;
  max-width: 1000px;

  @media screen and (min-width: $mq-s) {
    padding: ($layout-unit * 2);
  }
}

.hero__device {
  width: 100%;
  height: 0;
  padding-bottom: 176%;
}

.hero__device-wrapper {
  @extend %grid__item;
  @extend %xs--one-half;
  @extend %s--one-third;
  @extend %m--one-third;
  @extend %l--one-third;

  display: none;
  position: relative;

  @media screen and (min-width: $mq-xs) {
    display: inline-block;
  }
}

.hero__device__inner {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: $layout-unit * 2;
  position: absolute;
}

.hero__device__container {
  background-image: url('../images/hero-device.png');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__device__gif {
  background-image: url('../images/hero-device.gif');
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.hero__headline {
  @include text-shadow(3);

  color: $color-white;
  line-height: 1em;
  text-align: left;

  margin-bottom: $layout-unit;
}

.hero__teaser {
  color: $color-white;
}

.hero__text {
  padding: ($layout-unit * 2) 0;
}

.hero__text-wrapper {
  @extend %grid__item;
  @extend %xs--one-half;
  @extend %s--two-thirds;
  @extend %m--two-thirds;
  @extend %l--two-thirds;

  text-align: left;

  margin-top: $layout-unit * 2;
  position: relative;
}
