.live {
  margin: 0 auto;
  padding: ($layout-unit * 4) $layout-unit 0 $layout-unit;
  max-width: 800px;

  @media screen and (min-width: $mq-s) {
    padding: ($layout-unit * 4) $layout-unit $layout-unit $layout-unit;
  }
}

.live__button {
  text-align: center;

  margin: ($layout-unit * 2) auto;
  transform: translateX($layout-unit);
  width: 200px;
  height: 240px;

  @media screen and (min-width: $mq-s) {
    margin: ($layout-unit * 4) auto 0 auto;
  }
}

.live__container {
  @extend %grid;
}

.live__headline {
  margin-bottom: $layout-unit * 2;
}

.live__input {
  @extend %grid__item;
  @extend %one-half;
  @extend %s--three-twelfths;
  @extend %m--three-twelfths;
  @extend %l--three-twelfths;

  margin-top: $layout-unit;

  @media screen and (min-width: $mq-s) {
    margin-top: 0;
  }
}

.live__label {
  color: $color-black;
  font-weight: 900;

  margin-bottom: $layout-unit;
}

.live__label--big-top {
  margin-top: $layout-unit;
}

.live__label--small-bottom {
  margin-bottom: $layout-unit / 2;
}

.live__select {
  color: $color-gray;

  background-color: transparent;
  width: 100%;
  height: $layout-unit * 1.5;
}

.live__select__option {}

.live__wrapper {

  @include box-shadow(1);

  background-color: $color-white;
  margin: 0 auto ($layout-unit * 2) auto;
  padding: ($layout-unit * 2);
  max-width: 800px;
}
