.ressources {
  background-color: $color-black;
  padding: ($layout-unit * 6) 0;
}

.ressources__container {
  @extend %grid__item;
  @extend %one-half;

  &:nth-child(2) {
    text-align: right;
  }
}

.ressources__headline {
  color: $color-white;
}

.ressources__links {
  @extend %grid;
}

.ressources__list__item {
  color: $color-white;
  padding: ($layout-unit / 4) 0;
}

.ressources__wrapper {
  margin: 0 auto;
  max-width: 800px;
}
